<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rocket Todo Example</title>
  <meta name="description" content="A todo application written in Rocket.">
  <meta name="author" content="Sergio Benitez">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
  <div class="container">
    <p><!--Nothing to see here --></p>

    <div class="row">
      <h4>RustBucket</h4>
      <form action="/todo" method="post">
        <div class="two columns">
          <input type="submit" value="Start logging">
        </div>
      </form>
    </div>



    <div class="ten columns">
      {% if flash %}
          <small class="field-{{flash.0}}-msg">
            {{ flash.1 }}
          </small>
        {% endif %}
    </div>

    <div class="row">
      <form action="/todo" method="post">
        <div class="two columns">
          <input type="submit" name="_method" value="delete all" />
        </div>
      </form>
    </div>

    <div class="row">
      <h4>Rocket Todo</h4>
      <form action="/message" method="post">
    <div class="ten columns">
          <input type="text" placeholder="enter a task description..."
            name="description" id="description" value="" autofocus
            class="u-full-width {% if flash %}field-{{flash.0}}{% endif %}" />
          {% if flash %}
            <small class="field-{{flash.0}}-msg">
               {{ flash.1 }}
            </small>
          {% endif %}
    </div>
    <div class="two columns">
          <input type="submit" value="add task">
    </div>
          </form>
    </div>

    <div class="row">
      <form action="/message" method="post">
        <div class="two columns">
          <input type="text" name="_method" value="ok" />
        </div>
      </form>
    </div>

        <div class="row">
      <form action="/message" method="post">
        <div class="two columns">
          <input type="submit" name="_method" value="stop" />
        </div>
      </form>
    </div>

    <div class="row">
      <form action="/shutdown" method="post">
        <div class="two columns">
          <input type="submit" name="_method" value="shutdown" />
        </div>
      </form>
    </div>



    <div class="row">
      <div class="twelve columns">
        <ul>
        {% for task in tasks %}
            <li>
                {{ task.localdate }}, {{task.cpu_temp}}, {{task.memuse}} / {{task.mem}}
              </form>
            </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
