<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rocket Todo Example</title>
  <meta name="description" content="A todo application written in Rocket.">
  <meta name="author" content="Sergio Benitez">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
  <div class="container">
    <p><!--Nothing to see here --></p>

    <div class="row">
      <h4>RustBucket</h4>
      <form action="/logs/start" method="post">
        <div class="two columns">
          <input type="submit" value="Start logging">
        </div>
      </form>
    </div>



    <div class="ten columns">
      {% if flash %}
          <small class="field-{{flash.0}}-msg">
            {{ flash.1 }}
          </small>
        {% endif %}
    </div>

    <div class="row">
      <form action="/logs/delete" method="post">
        <div class="two columns">
          <input type="submit" name="_method" value="delete all" />
        </div>
      </form>
    </div>


    <div class="row">
      <form action="/logs/show" method="post">
        <div class="two columns">
          <input type="submit" name="_method" value="Show logs" />
        </div>
      </form>
    </div>

        <div class="row">
      <form action="/logs/stop" method="post">
        <div class="two columns">
          <input type="submit" name="_method" value="stop" />
        </div>
      </form>
    </div>

    <div class="row">
      <form action="/shutdown" method="post">
        <div class="two columns">
          <input type="submit" name="_method" value="shutdown" />
        </div>
      </form>
    </div>


 <table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>CPU Temp </th>
    <th> Memory (used/available)</th>
  </tr>

  <tr>
    <th>yyyy-mm-dd</th>
    <th>hh:mm:ss</th>
    <th>(&#176;C)</th>
    <th> GB / GB</th>
  </tr>


  {% for task in logged_stats %}
            <tr>
               <td> {{ task.localdate }} </td>
                <td> {{ task.localtime }} </td>
               <td> {{task.cpu_temp}} </td>
               <td> {{task.memuse}} / {{task.mem}} </td>
            </tr>
        {% endfor %}


</table> 





  </div>
</body>
</html>
